body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #18181b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}
h1 {
    margin-bottom: 10px;
}

h2 {
    color: #18181b;
    border-bottom: 2px solid black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #18181b;
    text-decoration: none;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #18181b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #323237;
}